
#root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  grid-template-areas: "sidebar main";
  grid-template-columns: 25% 75%;
  background-color: #101014;
}
h2 {
  color: #FF5800;
}
.sidebar {
  background-color: #141010;
  padding: 1rem;
  max-width: 300px;
  margin-left: 0;
  height: 100%;
  grid-area: sidebar;

}
.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.video-card {
  padding: 1rem;
  max-height: 300px;
  background-color: #2e2e2e;
}
.projects {
  width: 100%;
  grid-area: main;
}